.BlockSideInfo {
  background-color: #fff;
  position: sticky;
  width: fit-content;
  height: fit-content;
  border-radius: 3px;
  top: 10px;

  box-sizing: border-box;
  border: 1px solid rgba(197, 197, 197, 0.19);

  
  @media (max-width: $screen-lg) {
    display: none;
  }
}

.mainInfo {
  border-bottom: 1px solid #e8e8e8;
  padding: 20px;
}

.subscribers {
  border-bottom: 1px solid #e8e8e8;
  padding: 20px;
}

.links {
  padding: 20px;
}

.BlockSideSkeleton {
  background-color: var(--bgc-skeletons);
  border: none;
  border-radius: 3px;
  width: 220px;
  height: 300px;
  position: relative;
  overflow: hidden;


  .light {
    height: 100%;
    width: 300px;
    position: absolute;
    animation-name: light;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    background: var(--bgc-skeletons-ray);
  }
}

@keyframes light {
  0% {
    left: -300px;
  }

  100% {
    left: 700px;
  }
}
