.BlockSideInfo {
  background-color: var(--bgc-secondary);
  border: none;
  position: sticky;
  width: fit-content;
  height: fit-content;
  border-radius: 3px;
  top: 10px;
  color: var(--fc);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  @media (max-width: $screen-lg) {
    display: none;
  }
}

.mainInfo {
  width: 140px;
  border-bottom: 1px solid #e8e8e8;
  padding: 20px;
}

.subscribers {
  border-bottom: 1px solid #e8e8e8;
  padding: 20px;
}

.links {
  padding: 20px;
}

.BlockSideSkeleton {
  background-color: var(--bgc-skeletons);
  border: none;
  border-radius: 3px;
  width: 180px;
  height: 200px;
  position: relative;
  overflow: hidden;

  .light {
    height: 100%;
    width: 300px;
    position: absolute;
    animation-name: light;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    background: var(--bgc-skeletons-ray);
  }
}

@keyframes light {
  0% {
    left: -300px;
  }

  100% {
    left: 700px;
  }
}

.unauthorized {
  border-radius: 3px;
  padding: 20px;
  width: 180px;
  position: relative;
  overflow: hidden;

  button {
    width: 100%;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
}
