.Post {
    background-color: #8b8b8b;
    padding: 10px;
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 3px;
    min-width: 200px;

    a {
        display: inline-block;
        text-decoration: none;
        color: white;
        font-family: $montserrat;
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 10px;
    }


    img {
        height: 300px;
        object-fit: cover;
        width: 100%;
    }
}