.Tag {
  padding: 5px 8px;
  border-radius: 3px;
  margin-right: 8px;
  font-family: $roboto;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 8px;
}

.ANIMALS {
    background-color: $light-green;
}

.HUMOR {
    background-color: $light-yellow;
}

.TECHNOLOGIES {
  background-color: $light-blue;
}