.Tag {

  margin-bottom: 8px;
  margin-right: 8px;

  a {
    display: block;
    padding: 5px 8px;
    border-radius: 3px;
    color: black;
    font-family: $roboto;
    font-weight: 600;
    font-size: 12px;

  }
}

.ANIMALS {
  background-color: $light-green;
}

.HUMOR {
  background-color: $light-yellow;
}

.TECHNOLOGIES {
  background-color: $light-blue;
}
