$olive: #606c38;
$olive-dark: #283618;
$bone: #fefae0;
$sand: #dda15e;
$brown: #bc6c25;

$header-height: 50px;
$content-height: calc(100vh - $header-height);

$montserrat: 'Montserrat', sans-serif;
$rubik: 'Rubik Mono One', sans-serif;