.Controller {
  position: fixed;
  bottom: 40px;
  left: 40px;
  padding: 10px;
  background-color: $light-green;
  z-index: $z-index-controller;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;

  img {
    transition: 0.4s;
    height: 34px;
    width: 34px;
  }

  &:hover img {
    transform: rotate(90deg);
  }
}

.lang {
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  padding: 10px;
  background-color: rgb(211, 211, 211);
  border-radius: 50%;
  z-index: $z-index-controller-lang;
}

.Options {
  border-radius: 5px;
  position: fixed;
  bottom: 40px;
  left: 100px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgb(211, 211, 211);
  z-index: $z-index-controller;

  .cleared {
    background-color: #1e520a;
  }

  > button {
    outline: none;
    border: none;
    background-color: #35b316;
    color: white;
    padding: 5px 10px;

    cursor: pointer;
    z-index: $z-index-controller-btn;

    @include not-last-mb(5px);
  }
}
