.PostFooter {
  transform: translate(-6px, 6px);
  .FooterTags {
    display: flex;
  }
}

@mixin control {
  background-color: $light-gray;
  font-family: $montserrat;
  color: var(--post-fc);
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  line-height: 16px;
  border-radius: 5px;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 36px;
  .leftBlock {
    display: flex;
    gap: 10px;
    max-height: 36px;
    .likes {
      position: relative;
      background-color: var(--bgc-post-footer-btn);

      img {
        position: absolute;
        height: 18px;
        width: auto;
        top: 8px;
        filter: var(--filter-post-footer-image);
      }

      span {
        margin-left: 20px;
      }
    }

    .currentIsLiked {
      background-color: #aa1313;
      color: white;
    }

    .currentIsLiked img {
      filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
        saturate(7500%) hue-rotate(146deg) brightness(121%) contrast(121%);
    }

    .comments {
      background-color: var(--bgc-post-footer-btn);
      padding-right: 14px;
      display: inline-block;
      padding-top: 5px;

      @media (max-width: 500px) {
        font-size: 0px;

        margin: 0px;
        height: auto;
      }

      &::before {
        @media (max-width: 500px) {
          margin: 0 auto;
          transform: translate(2px, 3px) scale(-1, 1);
        }

        transform: translateY(3px) scale(-1, 1);
        display: inline-block;
        content: '';
        width: 18px;
        height: 18px;

        background-image: url('./images/comments.png');
        filter: var(--filter-post-footer-image);
        background-size: 18px;
        margin-right: 5px;
      }
    }

    .save {
      background-color: var(--bgc-post-footer-btn);
      height: 100%;
      position: relative;
      display: inline-block;
      padding-top: 5px;

      &::after {
        transform: translateY(3px);
        display: inline-block;
        content: '';
        width: 18px;
        height: 18px;
        filter: var(--filter-post-footer-image);
        background-image: url('./images/save.png');
        background-size: 18px;
      }
    }

    .currentIsSaved {
      background-color: #00526b;
      &::after {
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
          saturate(7500%) hue-rotate(146deg) brightness(121%) contrast(121%);
      }
    }

    .share {
      background-color: var(--bgc-post-footer-btn);
      height: 100%;
      position: relative;
      display: inline-block;
      padding-top: 5px;

      &::after {
        transform: translateY(4px);
        display: inline-block;
        content: '';
        width: 17px;
        height: 17px;
        filter: var(--filter-post-footer-image);
        background-image: url('./images/link.png');
        background-size: 17px;
      }
    }

    .copied {
      background-color: #40e23a;
      &::after {
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
          saturate(7500%) hue-rotate(146deg) brightness(121%) contrast(121%);
      }
    }

    button {
      @include control;
      border: none;
      cursor: pointer;
    }

    a {
      @include control;
      height: max-content;
    }
  }
}

.rightBlock {
  display: flex;
  align-items: center;

  @media (max-width: 500px) {
    display: none;
  }
}

.views {
  padding-right: 5px;
  font-family: $montserrat;
  font-weight: 500;
  font-size: 14px;
  color: #b6b6b6;

  $icon-size: 16px;

  &::after {
    transform: translateY(3px);
    display: inline-block;
    content: '';
    width: $icon-size;
    height: $icon-size;
    margin-left: 5px;

    background-image: url('./images/views.png');
    filter: brightness(0) saturate(100%) invert(75%) sepia(11%) saturate(14%)
      hue-rotate(330deg) brightness(84%) contrast(88%);
    background-size: $icon-size;
    background-repeat: no-repeat;
  }
}
