.ProfilePage {
  min-width: 260px;
  height: calc($content-height - 40px);
  margin: 0;
  padding: 20px 40px;

  background-color: var(--bgc-main);
}

.profileInfoWrapper {
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: var(--bgc-secondary);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.filters {
  background-color: var(--bgc-secondary);
  height: 80px;
  max-width: 680px;
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.posts {
  background-color: var(--bgc-secondary);
  height: 200px;
  max-width: 680px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
