.LangSwitcher {
  border-radius: 50%;
  overflow: hidden;
  width: fit-content;

  button {
    padding: 0;
    border: none;
    cursor: pointer;
    width: 45px;
    height: 45px;
    background-size: cover !important;
    background-position-x: center;
    color: white;
    font-weight: 400;
    background-color: transparent;
    background-size: 105% auto;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .ru {
    background-image: url('./images/ru.png');
  }

  .en {
    background-image: url('./images/en.png');
  }
}
