.LangSwitcher {
  button {
    border-radius: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 140px;
    color: white;
    font-weight: 400;
    background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(14, 174, 87, 1) 0%,
      rgba(12, 116, 117, 1) 90%
    );
  }
}
