.LangSwitcher {
  position: absolute;
  top: 9px;
  right: 10px;

  button {
    padding: 0;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 35px;
    color: white;
    font-weight: 400;
    background-color: transparent;
    background-size: 100% auto;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .ru {
    background-image: url('~@shared/images/languages/ru.png');
  }

  .en {
    background-image: url('~@shared/images/languages/en.png');
  }
}
