.LoginPage {
  height: $content-height;
  background-color: var(--bgc-main);

  min-width: 340px;

  position: relative;
  z-index: $z-index-content;
}

.content_wrapper {
  padding: 20px 40px;
  display: flex;
  justify-content: center;

  .content {
    margin-right: 10px;
    width: 650px;

  }
}
