.DARK {
  --header-bgc: #{$header-bgc-dark};
  --header-fc: #{$header-fc-dark};
  --header-active-fc: #{$header-active-fc-dark};
  --header-bb: 1px solid rgb(182, 182, 182);

  --main-bgc: #{$main-bgc-dark};

  --post-bgc: #{$post-bgc-dark};
  --post-bc: #{$post-bc-dark};
  --post-fc: #{$post-fc-dark};

  --tags-bgc: #{$tags-bgc-dark};
  --tags-fc: #{$tags-fc-dark};

  --fc: #{$fc-dark};

  --bgc-main: #{$bgc-common-dark};

  --bgc-secondary: #{$bgc-secondary-dark};

  --bgc-skeletons : #{$bgc-skeletons-dark};
  --bgc-skeletons-ray : #{$bgc-skeletons-ray-dark};

  --bgc-post-footer-btn: #{$bgc-post-footer-btn-dark};

  --filter-post-footer-image: #{$filter-post-footer-image-dark};
}
