.LIGHT {
    --header-bgc: #{$header-bgc-light};
    --header-fc: #{$header-fc-light};
    --header-active-fc: #{$header-active-fc-light};
    --header-bb: none;
    --main-bgc: #{$main-bgc-light};
    --post-bgc: #{$post-bgc-light};
    --post-bc: #{$post-bc-light};
    --post-fc: #{$post-fc-light};
    --tags-bgc: #{$tags-bgc-light};
    --tags-fc: #{$tags-fc-light};
    --fc: #{$fc-light};
    --bgc-main: #{$bgc-common-light};
    --bgc-secondary: #{$bgc-secondary-light};
    --bgc-skeletons : #{$bgc-skeletons-light};
    --bgc-skeletons-ray : #{$bgc-skeletons-ray-light};
    --bgc-post-footer-btn: #{$bgc-post-footer-btn-light};
    --filter-post-footer-image: #{$filter-post-footer-image-light};
}