.Modal {
  cursor: pointer;
  top: 0;
  position: fixed;
  height: 100%;
  width: 100vw;
  background-color: #00000065;
  z-index: $z-index-modal;
  overflow: hidden;

  min-width: 340px;

  
}

.content_wrapper {
    padding: 20px;
    background-color: #fff;
    margin: 0 auto;
    width: fit-content;
    border-radius: 3px;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    cursor: default;



    .close_button {
      margin-top: 10px;
    }
}