.Modal {
  cursor: pointer;
  top: 0;
  position: fixed;
  height: 100%;
  width: 100vw;
  background-color: #00000065;
  z-index: $z-index-modal;
  overflow: hidden;
  min-width: 340px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content_wrapper {
  height: fit-content;
  background-color: #fff;
  margin: 10px;
  width: fit-content;
  border-radius: 3px;

  cursor: default;

  max-width: 380px;
  width: calc(100% - 20px);

  .close_button {
    margin-top: 10px;
  }
}
