.HeaderColor {
    width: auto;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    border: 1px solid rgb(0, 0, 0);

    &:hover {
      opacity: 0.6;
    }
}

.Default {
  background: $profile-header-default;
}
.Gold {
  background: $profile-header-gold;
}
.Aqua {
  background: $profile-header-aqua;
}
.Green {
  background: $profile-header-green;
}
.Dark_blue {
  background: $profile-header-darkblue;
}
.Orange {
  background: $profile-header-orange;
}
