.Comments {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--bgc-secondary);
}

.comment {
  background-color: rgb(223, 223, 223);
  padding: 10px;
  border-radius: 5px;
  @include not-last-mb(10px);

  font-family: $roboto;
  color: var(--fc);
}
