.ProfileInfo {
  background-color: var(--bgc-secondary);
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.header {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  position: relative;
}

.changeHeaderTheme {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 70%;
  background: transparent;

  border: none;

  opacity: 0;
  transition: 0.1s;

  &:hover {
    opacity: 1;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(248, 248, 248, 0.8) 100%
    );
  }
}

.Default {
  background: $profile-header-default;
}
.Gold {
  background: $profile-header-gold;
}
.Aqua {
  background: $profile-header-aqua;
}
.Green {
  background: $profile-header-green;
}
.Dark_blue {
  background: $profile-header-darkblue;
}
.Orange {
  background: $profile-header-orange;
}
.modal_wrapper {
  padding: 20px;
  @include shadow;
  background-color: #555555;
  border-radius: 3px;
}

.themes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 20px;
}

.avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  text-indent: -100px;
  object-fit: cover;
}

.texts {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-family: $roboto;
}

.name {
  color: white;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
}

.status {
  font-size: 12px;
  line-height: 16px;
}

.content {
  color: var(--fc);
  padding: 20px;
  padding-bottom: 0px;
}

.stats {
  span {
    font-family: $roboto;
    display: block;

    font-size: 14px;
    margin-bottom: 10px;
  }
}

.settings {
  width: fit-content;
  display: flex;
  gap: 10px;
  span {
    font-family: $roboto;
    display: block;
    font-size: 14px;

    @include not-last-mb(10px);
  }
  margin-bottom: 10px;

  .widgets {
    display: flex;
    gap: 10px;
    border-radius: 5px;
  }

  .logout {
    cursor: pointer;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    padding-right: 45px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      height: 25px;
      width: 25px;
      background-image: url('./../images/logout.png');
      background-size: cover;
      top: 12px;
      right: 10px;
    }
  }

  .changes {
    display: flex;
    gap: 10px;
    background-color: #9c9c9c;
    border-radius: 5px;
    padding: 10px;

    align-items: center;

    button {
      height: fit-content;
      padding: 10px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
    }
  }
}

.subscribe {
  display: flex;
  align-items: center;

  button {
    background-color: #220202;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 10px 15px;
    line-height: normal;
    height: fit-content;
    display: block;
    border: none;
    outline: none;
    border-radius: 5px;
  }

  .active {
    background-color: rgb(255, 255, 255);
    color: #220202;
  }
}

.newStatus {
  display: flex;
  gap: 10px;

  input {
    padding: 6px 10px;
    flex-grow: 1;
    font-family: $roboto;
  }

  button {
    font-family: $roboto;
    padding: 6px 20px;
    cursor: pointer;
    background-color: #353535;
    color: white;
    border: 1px solid black;

    &:hover {
      background-color: #616161;
    }

    &:active {
      background-color: #bdbdbd;
    }
  }
}
