.ProfileInfo {
  background-color: var(--bgc-secondary);
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.header {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background: rgb(17, 76, 134);
  background: linear-gradient(
    90deg,
    rgba(17, 76, 134, 1) 0%,
    rgba(135, 11, 143, 1) 100%
  );
}

.avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  text-indent: -100px;
  object-fit: cover;
}

.texts {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-family: $roboto;
}

.name {
  color: white;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
}

.status {
  font-size: 12px;
  line-height: 16px;
}

.content {
  color: var(--fc);
  padding: 20px;
  padding-bottom: 0px;
}

.stats {
  span {
    font-family: $roboto;
    display: block;

    font-size: 14px;
    margin-bottom: 10px;
  }
}

.settings {
  background-color: #9c9c9c;
  border-radius: 5px;
  padding: 10px;
  span {
    font-family: $roboto;
    display: block;
    font-size: 14px;

    @include not-last-mb(10px);
  }
  margin-bottom: 10px;
}

.subscribe {
  display: flex;
  align-items: center;

  button {
    background-color: #220202;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 10px 15px;
    line-height: normal;
    height: fit-content;
    display: block;
    border: none;
    outline: none;
    border-radius: 5px;
  }

  .active {
    background-color: rgb(255, 255, 255);
    color: #220202;
  }
}
